[Unit]
Description=watch-folder-camera
After=network.target

[Service]
Environment=CLOUDINARY_URL=cloudinary://295776721798926:1Fg62Dl4ohkUhOlFLTHHknXMozA@spp-production
ExecStart=/usr/local/bin/node /home/pi/spp-manual-trigger-service/index.js 
Type=simple
User=pi
Restart=always
RestartSec=2s
KillMode=process
TimeoutSec=infinity

[Install]
WantedBy=multi-user.target
