[Unit]
Description=watch-camera
After=multi-user.target

[Service]
ExecStart=/usr/local/bin/gphoto2 --filename '/home/pi/images/%Y-%m-%d-%H-%M-%S-%f.%C' --wait-event-and-download
Restart=always
RestartSec=10s
KillMode=process
TimeoutSec=infinity

[Install]
WantedBy=multi-user.target
